<div class="w-full h-auto min-h-screen login flex justify-center items-center">
  <div class="w-[28rem] bg-white h-auto max-h-full md:w-[448px] shadow-greyBox rounded-md  py-[35px] px-11">
    <div class="flex justify-end">
      <app-select-language class="block px-3 rounded-lg"></app-select-language>
      <ng-template #defaultTemplate let-selected>
        <span nz-icon nzType="global" nzTheme="outline"></span>
        {{ selected.nzLabel }}
      </ng-template>
    </div>

    <div role="button" (click)="redirectToHost()" class="flex items-center justify-center gap-2 cursor-pointer">
      <img src="assets/authUi/darb/logo.svg" class="w-[54px]" alt="Darb" title="Darb" />
      <div class="flex flex-col leading-none">
        <span class="text-xl font-bold font-naskh leading-none text-primary">درب</span>
        <span class="text-[10px] tracking-widest text-heritage">DARB</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>