@if (open) {
  <section class="w-[100vw] h-[100vh] fixed inset-0 bg-[#0B163D99] flex justify-center z-50" style="z-index: 1000;">
    <form
      class="py-9 px-4 md:px-11 md:w-[589px] rounded-md md:shadow-greyBox md:h-auto bg-white flex flex-col items-center self-center"
    >
    <!-- <div class="flex d-flex justify-end w-full" >
      <div role="button" (click)="closePopup()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.9997 5.274L11.9495 0.324219L13.3637 1.73843L8.4139 6.6882L13.3637 11.6379L11.9495 13.0521L6.9997 8.1024L2.04996 13.0521L0.635742 11.6379L5.5855 6.6882L0.635742 1.73843L2.04996 0.324219L6.9997 5.274Z" fill="#404040"/>
        </svg>

    </div> </div> -->
      <div class="flex flex-col gap-5">
        <img
          src="/assets/host/icons/verification-icon.png"
          class="mx-auto block"
          alt="verification"
          title="verification-otp"
        />
        @if ((verified && !otpUpdated) || (verified && updatedForm)) {
          <p class="text-2xl text-primary font-bold text-center">{{'::otpTitle' |abpLocalization}}</p>
        } @else {
          <p class="text-2xl text-primary font-bold text-center"> {{'::otpTitleVerfy' |abpLocalization}} </p>
        }
        <div class="text-center">
          <p class="m-auto text-center" style="max-width: 35ch">{{'::subTitle' |abpLocalization}}</p>
          @if (updatedForm?.form?.value?.newEmail) {
            <p>{{ updatedForm.form.value.newEmail }}</p>
          } @else if (updatedForm?.form?.value?.newPhoneNumber) {
            <p class="dir">{{ updatedForm?.form?.value?.newPhoneNumber?.internationalNumber }}</p>
          } @else {
            <p class="dir">{{ contactInfo.value }}</p>
          }
        </div>
      </div>
      <button (click)="closePopup()" class="underline text-primary">
        {{ { key: '::guest:Profile:Close', defaultValue: 'إغلاق' } | abpLocalization }}
      </button>

      <div class="flex flex-col mt-2">
        <ng-otp-input
          #ngOtpInput
          [formCtrl]="form | getControl: 'otp'"
          [config]="{
            length: 4,
            inputClass:
              'text-secondary rounded-md  border border-secondary border-solid text-center text-2xl focus:bg-gray-200 mx-0 !w-[65px] !h-[65px] !mr-0',
            containerClass: 'w-full flex justify-center gap-2',
            allowNumbersOnly: true
          }

          "

        ></ng-otp-input>
        <app-validation
        [suppressValidationWithMessage]="{
          minlength: 'otpLength',
        }"
          [control]="form | getControl: 'otp'"
        ></app-validation>
        <!-- COUNTER MESSAGE -->

        <div class="flex justify-between mt-8 w-full">
          <div>
            <span>{{'::notSendOtp' |abpLocalization}}</span>
            <button class="underline text-primary" (click)="resendOTP()" [disabled]="!isTimerDone">
              {{'::resend' |abpLocalization}}
            </button>
          </div>
          <div *ngFor="let counter of counters; let i = index">
            <p class="font-bold">{{ transform(counter) }}</p>
          </div>
        </div>
      </div>
      <!-- SUBMIT BUTTON  -->
      <div class="w-11/12 mx-auto block mt-8 text-center">
        <button
          [disabled]="isTimerDone"
          (click)="verify()"
          class="border-primary h-14 text-white active:border-primary active:bg-primary after:bg-primary hover:bg-primary focus:border-primary focus:bg-primary bg-primary w-full mx-auto rounded-md block"
        >
          {{ { key: '::guest:Profile:Verify', defaultValue: 'تحقق' } | abpLocalization }}
        </button>
      </div>
    </form>
  </section>
}

<app-updated-account-details
  [openUpdate]="verified && isVisible"
  [contactInfo]="contactInfo"
  (openUpdateChange)="closeUpdatePopup($event)"
  (openOtp)="handleOpenOTP($event)"
  (verifiedAccount)="handleVerifiedAccount($event)"
  (updatedForm)="handleUpdatedForm($event)"
></app-updated-account-details>
