.bg-yellow {
  background: linear-gradient(164deg, #ffefb6 -10.25%, rgba(255, 239, 182, 0) 88.96%);
}
.bg-gery {
  background: linear-gradient(197deg, #e7e9f0 11.76%, rgba(231, 233, 240, 0) 98.2%);
}

.bg-red {
  background: linear-gradient(148deg, #fce6e6 4.75%, rgba(252, 230, 230, 0) 92.26%);
}
