<!-- <div  class="h-[420px] bg-cover overflow-hidden rounded-lg">
  <nz-carousel [nzEffect]="effect" nzAutoPlay >
    @for (index of experience?.experience?.experienceImages; track index) {
      <div nz-carousel-content class="rounded-lg" (click)="openPhotoViewer(index)">
        <img [src]="index.imagePath"   alt="img" class="clickable-image">
      </div>
    }
  </nz-carousel>
</div> -->

<div class="image-grid">
  <div class="relative">

    <img
    [src]="experience?.experience.experienceImages[indexFirstImg]?.imagePath"
    alt="Experience Image"
    (click)="openPhotoViewer(indexFirstImg)"
    class="clickable-image"
    />
    <button class="absolute bottom-3 left-0 bg-[#F4F4F4] text-[#494545] border-[#494545] border rounded-lg px-6 py-1"
    (click)="openPhotoViewer(indexFirstImg)">{{"::guest:reserveDetails:seeAllImgs" | abpLocalization}} </button>
  </div>
  <div  class="flex items-center justify-center flex-row gap-3 mt-4">

    <div *ngFor="let image of experience?.experience.experienceImages.slice(0,5); let i = index" class="relative image-item">
      <img
        [src]="image.imagePath"
        alt="Experience Image"
        (click)="indexFirstImg=i"
        class="icon-image"
        
      />
      @if(experience?.experience.experienceImages.length > 5 && i === 4){
        <div class="overlay"></div>
        <p class="absolute text-white font-bold text-2xl top-1/3 left-1/3">
          <bdi>+{{experience?.experience.experienceImages.length - 5}}</bdi></p>
      }
    </div>
  </div>
</div>
