<div
  [routerLink]="
    type == 'vacationHome'
      ? ['/vacation-home-details', item?.vacationHome?.id]
      : ['/experience-details', item?.experience?.id]
  "
  class="cover relative w-full h-[365px] overflow-hidden rounded-md pointer"
  [style]="'background: url(' + getImage() + ')'"
>
  <div class="flex justify-end p-4">
    <nz-tag class="bg-[rgba(255,255,255,0.58)] border-0 m-0">
      <div class="flex items-center justify-between font-bold">
        <span nz-icon class="me-2" nzType="environment" nzTheme="outline"></span>
        {{ item?.city?.name }}
      </div>
    </nz-tag>
   
  </div>
  <div class="overlay p-4 w-full absolute bottom-0">
    <nz-tag class="bg-[#FCB751] rounded-full border-0 m-0">
      <div class="flex items-center justify-between font-bold text-white px-3 py-1">
        <img src="assets/imgs/landing/icon.svg" alt="icon">
        {{ type == 'vacationHome' ? 'بيت عطلة' : 'تجربة' }}
      </div>
    </nz-tag>
    <p class="text-lg font-bold mt-3 text-white">
      {{ type == 'vacationHome' ? item?.vacationHome?.name : item?.experience?.name }}
    </p>
    <p class="text-lg font-bold mt-2.5 text-white">
      <!-- 5 مايو 2023 - 31 ديسمبر 2023 -->
    </p>
  </div>
</div>
