.cover {
  background-size: contain;
}
.overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 22.14%, #2b2b2b 115.47%);
  filter: drop-shadow(0px 3px 20px rgba(221, 221, 221, 0.25));
}
.pointer {
  cursor: pointer;
}
