<nz-modal
  [(nzVisible)]="isVisible"
  [nzClassName]="'custom-model'"
  [nzFooter]="null"
  (nzOnCancel)="cancel.emit()"
>
  <ng-container *nzModalContent>
    <img
      class="mx-auto py-8"
      width="75px"
      *ngIf="confrontationType == confrontationTypesEnum.success"
      src="assets/icons/success.svg"
      alt="success"
      title="success"
    />
    <!-- TODO IMAGE NOT FOUND -->
    <img
      class="mx-auto py-8"
      width="75px"
      *ngIf="confrontationType == confrontationTypesEnum.warning"
      src="assets/icons/!imgs.svg"
      alt="Add alt here"
      title="Add title here"
    />

    <p class="font-bold text-lg mb-3 text-center">{{ title }}</p>
    <p class="mx-auto mb-3 w-4/5 text-center text-gray-500">
      {{ description }}
    </p>
    <div class="flex justify-center">
      <ng-content select="[buttons]"></ng-content>
    </div>
  </ng-container>
</nz-modal>
