<div class="text-lg color-[#252729] font-bold">
  {{ '::Host:Verification:HeaderVerify' | abpLocalization }}
</div>
<nz-breadcrumb class="pb-4">
  <nz-breadcrumb-item class="cursor-pointer" routerLink="/holiday-homes">
    {{ '::Menu:Home' | abpLocalization }}
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>{{ '::Menu:Verification' | abpLocalization }}</nz-breadcrumb-item>
</nz-breadcrumb>



<section class="mb-4"></section>


<nz-card [formGroup]="form" class="block w-full border-0 rounded-2xl">

  <div class="verification-type mb-6">
  <label class="form-label required">
    {{ lang === 'ar' ? 'نوع الوثيقة' : 'Document Type' }}
  </label>

  <nz-select
    class="w-full"
    formControlName="identityDocumentType"
    [nzPlaceHolder]="
      lang === 'ar'
        ? 'اختر نوع الوثيقة'
        : 'Select document type'
    "
  >
    <nz-option
      *ngFor="let item of identityDocumentTypeOptions"
      [nzValue]="item.value"
  [nzLabel]="'::' + item.key | abpLocalization">

    </nz-option>
  </nz-select>
</div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-4">
    <h4 class="text-lg text-dark font-extrabold border-0">
      {{
        { key: '::Host:Verification:VerificationHeaderIdentity', defaultValue: 'التحقق من الهوية' }
          | abpLocalization
      }}
    </h4>
    @if (form.value.status == accountVerificationStatus.Approved) {
      <app-alert [type]="alertType.SUCCESS">
        {{
          {
            key: '::Host:Verification:Alert:Success',
            defaultValue: 'تمت الموافقة على طلب توثيق الحساب',
          } | abpLocalization
        }}
      </app-alert>
    }

    @if (form.value.status == accountVerificationStatus.Reject) {
      <app-alert
        [type]="alertType.ERROR"
        [tootTipTitle]="
          {
            key: '::Host:Verification:Tooltip:Danger',
            defaultValue: 'الرجاء إعادة رفع المتطلبات الصحيحة',
          } | abpLocalization
        "
      >
        {{
          {
            key: '::Host:Verification:Alert:Danger',
            defaultValue: 'تم رفض التوثيق ، الرجاء التحقق من سبب الرفض',
          } | abpLocalization
        }}</app-alert
      >
    }
    @if (form.value.status == accountVerificationStatus.UnderStudy) {
      <app-alert
        [type]="alertType.WARNING"
        [tootTipTitle]="
          {
            key: '::Host:Verification:Tooltip:Warning',
            defaultValue: 'طلب التوثيق قيد المراجعة',
          } | abpLocalization
        "
      >
        {{
          {
            key: '::Host:Verification:Alert:Warning',
            defaultValue: 'طلب التوثيق قيد المراجعة',
          } | abpLocalization
        }}
      </app-alert>
    }
    @if (form.value.status == accountVerificationStatus.Reject && form.value.rejectionReason) {
      <p class="text-[#0b7a75] font-bold text-sm mt-2 md:col-span-2">
        {{
          { key: '::Host:Verification:RejectionReason', defaultValue: 'سبب الرفض' } | abpLocalization
        }}: {{ form.value.rejectionReason }}
      </p>
    }
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-x-9 gap-y-4 mt-5">
    <div>
      <!-- <app-field-label
        [label]="
          {
            key: '::Host:Verification:UploadFront',
            defaultValue: '(PDF, JPG, JPEG, PNG) رفع الوجه الأمامي للهوية الوطنية',
          } | abpLocalization
        "
        [control]="form | getControl: 'attachedSaudiIDFront'"
        formControlName="attachedSaudiIDFront"
      ></app-field-label> -->



<app-field-label
  [label]="
    {
      key:
        isIdSelected
          ? '::Host:Verification:UploadFront'
          : '::Host:Verification:UploadDocument',
      defaultValue:
        isIdSelected
          ? '(PDF, JPG, JPEG, PNG) رفع الوجه الأمامي'
          : '(PDF, JPG, JPEG, PNG) رفع المستند'
    } | abpLocalization
  "
  [control]="form | getControl: 'attachedSaudiIDFront'"
  formControlName="attachedSaudiIDFront"
></app-field-label>


      <app-upload
        [fileList]="saudiIDFrontFile"
        [isShowUploadList]="true"
        [readOnly]="isReadOnly"
        [uploadAction]="uploadPDFUrl"
        [accept]="'application/pdf, image/jpeg, image/jpg, image/png'"
        (handleChange)="uploadFrontFile($event)"
        [sizeMB]="2"
        label=""
        class="border border-dashed h-auto border-gray-300 block rounded-lg"
      >
        <ng-container uploadState> </ng-container>
        <div
          class="flex items-center justify-between px-4 text-secondary"
          [ngClass]="{ '!text-gray-300': isReadOnly }"
        >
          <div class="flex items-center">
            <svg
              width="12"
              height="14"
              viewBox="0 0 12 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1.66683H1.33333V12.3335H10.6667V4.3335H8V1.66683ZM0 0.994696C0 0.629529 0.298327 0.333496 0.665667 0.333496H8.66667L11.9998 3.66683L12 12.9952C12 13.3661 11.7034 13.6668 11.3377 13.6668H0.662267C0.296507 13.6668 0 13.3633 0 13.0056V0.994696ZM6.66667 7.00016V9.66683H5.33333V7.00016H3.33333L6 4.3335L8.66667 7.00016H6.66667Z"
                fill="#404040"
              />
            </svg>
            <p>
              {{
                { key: '::Host:Verification:Browse', defaultValue: 'تصفح ملفاتك' } | abpLocalization
              }}
            </p>
          </div>
          <span nz-icon nzType="cloud-upload" class="text-lg" nzTheme="outline"></span>
        </div>
      </app-upload>
      <app-validation [control]="form | getControl: 'attachedSaudiIDFront'"></app-validation>
      <div class="flex justify-end mt-2" *ngIf="saudiIDFrontFile.length > 0 && isReadOnly">
        <button nz-button nzType="default" (click)="downloadFile(saudiIDFrontFile[0])">
          {{ { key: '::Host:Verification:Download', defaultValue: 'تحميل' } | abpLocalization }}
          <span nz-icon nzType="download" class="ml-2"></span>
        </button>
      </div>
    </div>

    <div *ngIf="isIdSelected">
      <app-field-label
        [label]="
          {
            key: '::Host:Verification:UploadBack',
            defaultValue: '(PDF, JPG, JPEG, PNG) رفع الوجه الخلفي للهوية الوطنية',
          } | abpLocalization
        "
        [control]="form | getControl: 'attachedSaudiIDBack'"
        formControlName="attachedSaudiIDBack"
      ></app-field-label>
      <app-upload
        [fileList]="saudiIDBackFile"
        [isShowUploadList]="true"
        [readOnly]="isReadOnly"
        [uploadAction]="uploadPDFUrl"
        [accept]="'application/pdf, image/jpeg, image/jpg, image/png'"
        (handleChange)="uploadBackFile($event)"
        [sizeMB]="2"
        label=""
        class="border border-dashed h-auto border-gray-300 block rounded-lg"
      >
        <ng-container uploadState> </ng-container>
        <div
          class="flex items-center justify-between px-4 text-secondary"
          [ngClass]="{ '!text-gray-300': isReadOnly }"
        >
          <div class="flex items-center">
            <svg
              width="12"
              height="14"
              viewBox="0 0 12 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1.66683H1.33333V12.3335H10.6667V4.3335H8V1.66683ZM0 0.994696C0 0.629529 0.298327 0.333496 0.665667 0.333496H8.66667L11.9998 3.66683L12 12.9952C12 13.3661 11.7034 13.6668 11.3377 13.6668H0.662267C0.296507 13.6668 0 13.3633 0 13.0056V0.994696ZM6.66667 7.00016V9.66683H5.33333V7.00016H3.33333L6 4.3335L8.66667 7.00016H6.66667Z"
                fill="#404040"
              />
            </svg>
            <p>
              {{
                { key: '::Host:Verification:Browse', defaultValue: 'تصفح ملفاتك' } | abpLocalization
              }}
            </p>
          </div>
          <span nz-icon nzType="cloud-upload" class="text-lg" nzTheme="outline"></span>
        </div>
      </app-upload>
      <app-validation [control]="form | getControl: 'attachedSaudiIDBack'"></app-validation>
      <div class="flex justify-end mt-2" *ngIf="saudiIDBackFile.length > 0 && isReadOnly">
        <button nz-button nzType="default" (click)="downloadFile(saudiIDBackFile[0])">
          {{ { key: '::Host:Verification:Download', defaultValue: 'تحميل' } | abpLocalization }}
          <span nz-icon nzType="download" class="ml-2"></span>
        </button>
      </div>
    </div>
  </section>

  <section class="mt-8">
    <h4 class="text-lg text-dark font-extrabold border-0">
      {{
        { key: '::Host:Verification:BankAccountData', defaultValue: 'بيانات الحساب البنكي' }
          | abpLocalization
      }}
    </h4>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-9 gap-y-4 mt-5">
      <div>
        <app-field
          [control]="form | getControl: 'iban'"
          formControlName="iban"
          [readonly]="isReadOnly"
          [label]="
            { key: '::Host:Verification:IbanNumber', defaultValue: 'رقم الآيبان' }
              | abpLocalization
          "
          [placeholder]="
            { key: '::Host:Verification:Placeholder:Iban', defaultValue: 'أدخل رقم الآيبان' }
              | abpLocalization
          "
        ></app-field>
      </div>

      <div>
        <app-field
          [control]="form | getControl: 'shamBankAccount'"
          formControlName="shamBankAccount"
          [readonly]="isReadOnly"
          [label]="
            {
              key: '::Host:Verification:ShamCashAccountNumber',
              defaultValue: 'رقم حساب كاش الشام',
            } | abpLocalization
          "
          [placeholder]="
            {
              key: '::Host:Verification:Placeholder:ShamCashAccountNumber',
              defaultValue: 'أدخل رقم حساب كاش الشام',
            } | abpLocalization
          "
        ></app-field>

        <div class="mt-4">
          <app-field-label
            [label]="
              {
                key: '::Host:Verification:ShamCashUploadPhoto',
                defaultValue: '(PDF, JPG, JPEG, PNG) أو ارفع صورة حساب كاش الشام',
              } | abpLocalization
            "
            [control]="form | getControl: 'shamBankAccountImage'"
            formControlName="shamBankAccountImage"
          ></app-field-label>

          <app-upload
            [fileList]="shamBankAccountImageFile"
            [isShowUploadList]="true"
            [readOnly]="isReadOnly"
            [uploadAction]="uploadPDFUrl"
            [accept]="'application/pdf, image/jpeg, image/jpg, image/png'"
            (handleChange)="uploadShamBankAccountImageFile($event)"
            [sizeMB]="2"
            label=""
            class="border border-dashed h-auto border-gray-300 block rounded-lg"
          >
            <ng-container uploadState> </ng-container>
            <div
              class="flex items-center justify-between px-4 text-secondary"
              [ngClass]="{ '!text-gray-300': isReadOnly }"
            >
              <div class="flex items-center">
                <svg
                  width="12"
                  height="14"
                  viewBox="0 0 12 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 1.66683H1.33333V12.3335H10.6667V4.3335H8V1.66683ZM0 0.994696C0 0.629529 0.298327 0.333496 0.665667 0.333496H8.66667L11.9998 3.66683L12 12.9952C12 13.3661 11.7034 13.6668 11.3377 13.6668H0.662267C0.296507 13.6668 0 13.3633 0 13.0056V0.994696ZM6.66667 7.00016V9.66683H5.33333V7.00016H3.33333L6 4.3335L8.66667 7.00016H6.66667Z"
                    fill="#404040"
                  />
                </svg>
                <p>
                  {{
                    { key: '::Host:Verification:Browse', defaultValue: 'تصفح ملفاتك' }
                      | abpLocalization
                  }}
                </p>
              </div>
              <span nz-icon nzType="cloud-upload" class="text-lg" nzTheme="outline"></span>
            </div>
          </app-upload>
          <app-validation [control]="form | getControl: 'shamBankAccountImage'"></app-validation>
          <div
            class="flex justify-end mt-2"
            *ngIf="shamBankAccountImageFile.length > 0 && isReadOnly"
          >
            <button nz-button nzType="default" (click)="downloadFile(shamBankAccountImageFile[0])">
              {{ { key: '::Host:Verification:Download', defaultValue: 'تحميل' } | abpLocalization }}
              <span nz-icon nzType="download" class="ml-2"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <p
      class="text-red-600 text-sm mt-3"
      *ngIf="
        form.errors?.paymentDetailsRequired &&
        (form.get('iban').touched ||
          form.get('shamBankAccount').touched ||
          form.get('shamBankAccountImage').touched)
      "
    >
      {{
        {
          key: '::Host:Verification:PaymentDetailsRequired',
          defaultValue: 'يرجى إدخال رقم الآيبان أو رقم حساب شام كاش (رقم الحساب أو صورة الحساب أو كلاهما)',
        } | abpLocalization
      }}
    </p>
  </section>

  <div class="mt-7 border-t flex justify-end pt-8 pb-2 border-[#F1F3F9]">
    <app-button
      [disabled]="isReadOnly"
      [nzLoading]="submitLoading"
      (click)="isVisibleMasg = true"
      class="min-w-[93px]"
    >
      {{ { key: '::Host:Verification:Send', defaultValue: 'ارسال' } | abpLocalization }}
    </app-button>
  </div>
</nz-card>

<app-confrontation-popup
  [visible]="isVisibleMasg"
  (cancel)="isVisibleMasg = false"
  [title]="
    { key: '::Host:Verification:SendConfirmation', defaultValue: 'هل انت متاكد من الارسال' }
      | abpLocalization
  "
  [description]="
    {
      key: '::Host:Verification:Description:SendConfirmation',
      defaultValue: 'هل انت متاكد من إرسال بيانات التوثيق',
    } | abpLocalization
  "
>
  <div buttons class="flex items-center flex-col w-full px-10">
    <app-button size="md" class="block mb-6 w-full" (click)="submit()"> تاكيد </app-button>
    <app-button class="w-full" (click)="isVisibleMasg = false" size="md" [outline]="true">
      {{ { key: '::Host:Verification:Cancel', defaultValue: 'الغاء' } | abpLocalization }}
    </app-button>
  </div>
</app-confrontation-popup>

<app-confrontation-popup
  [visible]="isVisibleSuccess"
  (cancel)="isVisibleSuccess = false"
  [confrontationType]="confrontationTypesEnum.success"
  [title]="
    {
      key: '::Host:Verification:DataConfirmed',
      defaultValue:
        'تم ارسال بيانات التوثيق بنجاح
سنقوم بالرد عليك خلال 24 ساعة
لتقوم بنشر خدماتك لدى حياك',
    } | abpLocalization
  "
>
  <div buttons class="w-full">
    <div class="flex justify-center">
      <app-button size="md" class="block mb-6 px-6 w-full" routerLink="/holiday-homes">
        <div class="flex items-center justify-center">
          <p>
            {{
              {
                key: '::Host:Verification:MoveToMainPage',
                defaultValue: 'الإنتقال إلي الصفحة الرئيسية',
              } | abpLocalization
            }}
          </p>
          <span nz-icon nzType="arrow-up" class="ms-2 -rotate-45" nzTheme="outline"></span>
        </div>
      </app-button>
    </div>
  </div>
</app-confrontation-popup>
