<div class="container lg:px-0  px-4 mx-auto  py-12 bg-white">
  <p class="pt-[20px] pb-[88px] text-[40px] font-bold text-center">
    <span class="border-b-4 border-b-[#ED3024]">{{
      '::guest:abouthyyak.Features.Title' | abpLocalization
    }}</span>
  </p>
  <div class="grid lg:grid-cols-4 sm:px-0 md:px-20 lg:px-64 md:grid-cols-4 grid-cols-2 md:gap-[20px] gap-5">
    <div class="flex flex-col text-center items-center mt-4">
      <img src="assets/imgs/new/bag.svg" />
      <div class="font-bold text-[#000000] mx-2 mt-6">
        {{ '::guest:abouthyyak.Features1' | abpLocalization }}
      </div>
      <div class="font-bold text-[#000000]">
        {{ '::guest:abouthyyak.Features1.1' | abpLocalization }}
      </div>
    </div>
    <div class="flex flex-col text-center items-center mt-4">
      <img src="assets/imgs/new/icon.svg" />
      <div class="font-bold text-[#000000] mx-2 mt-6">
        {{ '::guest:abouthyyak.Features2' | abpLocalization }}
      </div>
      <div class="font-bold text-[#000000]">
        {{ '::guest:abouthyyak.Features2.1' | abpLocalization }}
      </div>
    </div>
    <div class="flex flex-col text-center items-center mt-4">
      <img src="assets/imgs/new/locatin.svg" />
      <div class="font-bold text-[#000000] mx-2 mt-6">
        {{ '::guest:abouthyyak.Features3' | abpLocalization }}
      </div>
      <div class="font-bold text-[#000000]">
        {{ '::guest:abouthyyak.Features3.1' | abpLocalization }}
      </div>
    </div>
    <div class="flex flex-col text-center items-center mt-4">
      <img src="assets/imgs/new/raqam.svg" />
      <div class="font-bold text-[#000000] mx-2 mt-6">
        {{ '::guest:abouthyyak.Features4' | abpLocalization }}
      </div>
      <div class="font-bold text-[#000000]">
        {{ '::guest:abouthyyak.Features4.1' | abpLocalization }}
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #item let-data="data">
  <div class="p-[36px] bg-white shadow-[0px_3px_30px_rgba(220,220,220,0.25)]">
    <div class="rounded-full bg-[#F8F8F8] justify-center items-center flex w-[83px] h-[83px]">
      <img [src]="data.icon" alt="Add alt here" title="Add title here" />
    </div>
    <p class="mt-10 text-xl font-bold text-[#3A3A3A]">{{ data.title }}</p>
    <p class="mt-[17px] text-base text-[#717171]">{{ data.description }}</p>
  </div>
</ng-template> -->
