<div class="container mx-auto px-9 mb-36">
  <nz-breadcrumb class="mt-[26px]">
    <nz-breadcrumb-item class="cursor-pointer" routerLink="/">{{
      '::guest:explore.breadcrumbHome' | abpLocalization
      }}</nz-breadcrumb-item>
    <nz-breadcrumb-item class="cursor-pointer" routerLink="/explore">{{
      '::Guest:Explore:reserve' | abpLocalization
      }}
    </nz-breadcrumb-item>
    @if(type === 'experience'){

      <nz-breadcrumb-item class="cursor-pointer" [routerLink]="['/experience-details',this.id]">
        {{
          '::Guest:Explore:experienceDetail' | abpLocalization
          }}
      </nz-breadcrumb-item>
    }@else {
      <nz-breadcrumb-item class="cursor-pointer" [routerLink]="['/vacation-home-details',this.id]">
        {{
          '::Guest:Explore:vactionDetail' | abpLocalization
          }}
      </nz-breadcrumb-item>
    }
    <nz-breadcrumb-item>{{"::Guest:Explore:payment:payment" | abpLocalization}}</nz-breadcrumb-item>
  </nz-breadcrumb>
   <!-- Header -->
   <h2 class="text-2xl font-bold mt-6 mb-4">
    {{ '::Guest:Explore:payment:confirm' | abpLocalization }}
  </h2>
  <div class="grid md:grid-cols-5 grid-cols-1 gap-4">
    <div class="md:col-span-2 col-span-1">
      <app-reservation-summary
        [vacationHome]="vacationHome"
        [payment]="payment"
        [dateFrom]="dateFrom"
        [dateTo]="dateTo"
        [type]="type"
        [experience]="experience"
        [pricingDetails]="pricingDetails"
        class="block"
      ></app-reservation-summary>
    </div>

    @if(paymentUrl){
      <nz-card class="md:col-span-3 col-span-1 border-0 rounded-2xl custom-card" [nzTitle]="cardTitle">
        <ng-template #cardTitle>
          <p class="font-extrabold text-lg">
            {{"::Guest:Explore:payment:payment" | abpLocalization}}
          </p>
        </ng-template>
        <iframe title="payment frame" [src]="paymentUrl" width="100%" height="600"></iframe>
      </nz-card>
    }
  </div>
</div>
