<div class="container mx-auto  p-6  pb-[55px]">
  <p class="text-[#2F2F2F]   mt-12 md:mt-[40px] text-center text-[37px] font-bold">
    <span class="border-b-4 border-b-[#ED3024]">{{ '::guest:abouthyyak.Title2' | abpLocalization }}</span>
  
  </p>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-12 md:mt-[82px]">
    <div class="relative bg-yellow rounded-[10px] px-[35px] py-[35px]">
      <img
        class="absolute top-0 left-0"
        src="/assets/imgs/bg-item.png"
        alt="bg-item"
        title="bg-item"
      />
      <div class="w-16 h-16 flex items-center justify-center rounded-full bg-white">
        <img src="assets/imgs/new/success.svg" alt="home-icon" title="home-icon" />
      </div>
      <div class="mt-[100px] md:mt-[134px]">
        <p class="mt-5 font-bold text-xl text-[#FCB751]">
          {{ '::guest:abouthyyak.BestAlways' | abpLocalization }}
        </p>
        <p class="mt-[17px] text-base text-[#FCB751] md:w-[256px] w-auto">
          {{ '::guest:abouthyyak.BestAlways.Description' | abpLocalization }}
        </p>
      </div>
    </div>
   
    <div class="relative bg-gery rounded-[10px] px-[35px] py-[35px]">
      <img
        class="absolute top-0 left-0"
        src="/assets/imgs/bg-item.png"
        alt="bg-item"
        title="bg-item"
      />
      <div class="w-16 h-16 flex items-center justify-center rounded-full bg-white">
        <img src="assets/imgs/new/social-care.svg" alt="icon-items" title="icon-items" />
      </div>
      <div class="mt-[100px] md:mt-[134px]">
        <p class="mt-5 font-bold text-xl text-[#122466]">
          {{ '::guest:abouthyyak.ExceedExpectations' | abpLocalization }}
        </p>
        <p class="mt-[17px] text-base text-[#122466] md:w-[290px] w-auto">
          {{ '::guest:abouthyyak.ExceedExpectations.Description' | abpLocalization }}
        </p>
      </div>
    </div>
  <div class="relative bg-red rounded-[10px] px-[35px] py-[35px]">
      <img
        class="absolute top-0 left-0"
        src="/assets/imgs/bg-item.png"
        alt="bg-item"
        title="bg-item"
      />
      <div class="w-16 h-16 flex items-center justify-center rounded-full bg-white">
        <img src="assets/imgs/new/heart.svg" alt="hand-red" title="hand-red" />
      </div>
      <div class="mt-[100px] md:mt-[134px]">
        <p class="mt-5 font-bold text-xl text-[#ED3024]">
          {{ '::guest:abouthyyak.WarmWelcome' | abpLocalization }}
        </p>
        <p class="mt-[17px] text-base text-[#ED3024] md:w-[256px] w-auto">
          {{ '::guest:abouthyyak.WarmWelcome.Description' | abpLocalization }}
        </p>
      </div>
    </div>
  </div>
</div>
