<div id="invoice-container">
  @if(data?.totalTax  !== 0){

    <div class="invoice-container" id="invoice">
      <div class="header">
        <div class="logo flex d-flex justify-center">
          <img src="assets/imgs/details/img19.svg" alt="img" />
        </div>
        <h1 class="title">فاتورة ضريبية مبسطة</h1>
        <h2 class="title">Simplified Tax Invoice</h2>
      </div>
      <div class="invoice-details">
        <div>
          <strong>رقم الفاتورة</strong>
  
          <span class="spanDesign">{{ data?.invoiceNumber }}</span>
        </div>
        <div><strong>Invoice Number</strong></div>
        <div class="mt-2">
          <strong>تاريخ الفاتورة</strong>
          <span class="spanDesign">{{ data?.invoiceDate | date }}</span>
        </div>
        <div><strong>Invoice Date</strong></div>
      </div>
      <div class="vendor-details mt-2">
        <div>
          <strong>البائع</strong>
  
          <span class="spanDesign">{{ data?.vendorName }}</span>
        </div>
        <div><strong>Vendor</strong></div>
        <div class="mt-2">
          <strong>عنوانه</strong>
          <span class="px-2"> {{ data?.vendorAddressAr }}</span>
        </div>
        <div>
          <span class="px-2"> {{ data?.vendorAddressEn }} </span>
          <strong>Address</strong>
        </div>
        <div class="mt-2">
          <strong>رقم تسجيل ضريبة القيمة المضافة</strong>
          <span class="spanDesign"> {{ data?.taxRegistrationNumber }}</span>
        </div>
        <div>
          <strong>Tax VAT Registration Number</strong>
        </div>
      </div>
      <div class="buyer-details mt-2">
        <div>
          <strong class="mt-2">المشتري (الضيف)</strong>
  
          <span class="px-2"> {{ data?.nameAr }}</span>
        </div>
        <div style="direction: ltr;">
          <span class="px-2"> {{ data?.nameEn }}</span> <strong class="mt-2">(Guest) Buyer </strong>
        </div>
      </div>
      <table class="invoice-table">
        <thead>
          <tr>
            <th>
              <strong>البيان</strong>
            </th>
            <th>الكمية</th>
            <th>السعر قبل الضريبة</th>
            <th>الضريبة</th>
            <th>السعر شامل الضريبة</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              رسوم خدمة حجز رقم <span style="direction: ltr"># {{ data?.reservationNo }} </span>
            </td>
            <td>1</td>
            <td>{{ data?.priceBeforeTax }}</td>
            <td>{{ data?.totalTax }}</td>
            <td>{{ data?.priceIncludeTax }}</td>
          </tr>
        </tbody>
      </table>
      <div class="total-section">
        <div class="flex d-flex justify-between">
          <div><strong>إجمالي المبلغ الخاضع للضريبة:</strong></div>
  
          <!-- <div>{{ data?.priceBeforeTax }} ر.س</div> -->
          <div style="direction: rtl;align-items: center;display:flex" class="flex flex-row items-center" >

            <p > {{data?.priceBeforeTax }}  </p>
            <img class="mx-2 w-[13px]" src="assets/imgs/riyal-black.svg" alt="riyal">
          </div>
        </div>
        <div class="flex d-flex justify-between">The total taxable amount</div>
        <div class="flex d-flex justify-between mt-2">
          <strong>ضريبة القيمة المضافة (15%):</strong> 
          <!-- {{ data?.totalTax }} ر.س -->
          <div style="direction: rtl;align-items: center;display:flex" class="flex flex-row items-center" >

            <p > {{data?.totalTax }}  </p>
            <img class="mx-2 w-[13px]" src="assets/imgs/riyal-black.svg" alt="riyal">
          </div>
        </div>
        <div class="flex d-flex justify-between">(15%) Value Added Tax</div>
        <div class="flex d-flex justify-between mt-2">
          <strong>المجموع مع الضريبة (15%):</strong>
           <!-- {{ data?.priceIncludeTax }} ر.س -->
           <div style="direction: rtl;align-items: center;display:flex" class="flex flex-row items-center" >

            <p > {{data?.priceIncludeTax }}  </p>
            <img class="mx-2 w-[13px]" src="assets/imgs/riyal-black.svg" alt="riyal">
          </div>
        </div>
        <div class="flex d-flex justify-between">Total with Tax</div>
      </div>
      <div class="qr-code">
        <div>
          <img [src]="data?.qrCodeBase64" />
        </div>
      </div>
    </div>
  }
  @if(isTax ==='true') {
    <div [ngClass]="data?.totalTax  !== 0 ?'page-break' :'' ">
      <app-tax-invoice [dataTax]="dataTax"></app-tax-invoice>
    </div>
  }
</div>
