<nz-card [nzTitle]="cardTitle" class="block relative w-full border-0 rounded-2xl">
  <ng-template #cardTitle>
    <p class="font-extrabold text-lg">ملخص البيانات</p>
  </ng-template>
  @if (!!vacationHome) {
    <div class="flex items-center">
      <!-- <img
        nz-image
        [nzDisablePreview]="true"
        class="w-[71px] h-[71px] rounded-2xl"
        [nzSrc]="vacationHome.vacationHome.primaryImage"
        alt="travel in dessert car"
        title="travel in dessert car"
      /> -->

      <div class="ms-2">
        <p class="text-base font-extrabold text-[#444]">{{ vacationHome?.vacationHome?.name }}</p>
        <div class="flex items-center mt-4">
          <div class="flex items-center after:w-[1px] after:mx-2 after:h-4 after:bg-gray-200">
           
  <img src="assets/imgs/details/img28.svg" alt="img">

            <p class="text-base text-gray-600 ms-1">السعودية - {{ vacationHome?.city?.name }}</p>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <nz-empty
      nzNotFoundContent="{{ '::guest:explore.noServicesAdded' | abpLocalization }}"
      class="block w-full py-12 mx-auto"
    ></nz-empty>
  }
</nz-card>
