<div class="flex flex-row items-center justify-between mt-2">
    <div class="flex sm:flex-row sm:items-center flex-col items-start">
        <div class="flex flex-row items-center">
            
            <!-- @if( (!isHost && review.guestProfilePicture) || (isHost && review.hostProfilePicture)){

                <img alt="profile" [src]="isHost ? review.hostProfilePicture : review.guestProfilePicture " class="w-8 h-8 rounded-full"/>
            }@else {
                <img alt="profile" [src]="'/assets/icons/userimg.svg' " class="w-8 h-8 rounded-full p-1 bg-gray-200"/>

            } -->
            <img alt="profile" [src]="isHost ? 
                (review.hostProfilePicture ? review.hostProfilePicture : '/assets/icons/userimg.svg') :
                (review.guestProfilePicture ? review.guestProfilePicture :'/assets/icons/userimg.svg')" 
                class="w-8 h-8 rounded-full"
            />

            <p class="text-sm text-[#171717] mx-2">{{isHost ? review.hostName : review.guestName}}</p>
        
        </div>
        <div class="flex flex-row items-center">

            <p class="flex flex-row items-center mx-1 text-[#737373] text-xs">
               
  <img src="assets/imgs/details/img31.svg" alt="img">
                    
                <span class="mx-1">{{isHost ? (review.hostReplyDate | date) : (review.creationTime | date)}}</span>
            </p>
            @if(isHost){
                <div class="text-white bg-primary p-2 rounded-lg">{{"::guest:reserve:rating:host"| abpLocalization}} </div>
            }
        </div>
    </div>
    @if(!isHost){

        <div class="flex flex-row items-center">
            
  <img src="assets/imgs/details/img32.svg" alt="img">
                
            <p class="text-[#666666] text-sm mx-1">{{review.averageRating  | number: '1.1-1'}}</p>
        </div>
    }
</div>
<p class="text-[#323232] text-base mt-2">{{isHost ? review.hostReply :review.guestOpinion}}</p>