<div>
  <p>
    بعون الله وتوفيقه تم الإتفاق في يوم {{ dayOfWeek ?? '-' }} وتاريخ
    {{ (data.signingAgreementDate | date) ?? '-' }} بين كلٍ من<br />
    <strong>شركة حياك العربية للسفر والسياحة (حياك)</strong>
    بموجب السجل التجاري رقم (٥٨١٠٤٣٢٠٢٦ ) وتاريخ ٠١/٠٦/١٤٤٢هـ ، ويقع مقرها الرئيسي في المملكة
    العربية السعودية، الرياض، العقيق، الملك فهد 65813 , هاتف رقم (٩٦٦٥٠٧٤٠٠٢٠٧) وعنوان البريد
    الإلكتروني <a href="mailto:info@hyyak.com">info&#64;hyyak.com</a><br />
    <strong>ويشار إليها فيما بعد بـــــ (الطرف الأول أو حياك أو المنصة)</strong>
    <br />
    السيد/ {{ data.hostName ?? '-' }},سعودي الجنسية، وعنوانه: المملكة العربية السعودية،
    {{ data.city.name ?? '-' }} حي {{ data.district.name ?? '-' }} هاتف رقم<bdi>{{
      data.phoneNumber ?? '-'
    }}</bdi
    >, وعنوان البريد الإلكتروني {{ data.email ?? '-' }}. <br /><strong
      >ويُشار إليه فيما بعد بـــــ (الطرف الثاني أو المضيف)</strong
    >
    <br />
    حيث أن الطرف الأول يعمل وسيطا بين مقدم الخدمة والعميل من خلال منصتة الإلكترونية لحجز و عرض بيوت
    العطلات والتجارب مرخصة من وزارة السياحة برقم : (  ٧٣١٠٤٧٨٢ ) ، و حيث أن الطرف الثاني يملك أو
    يدير عقاراً معداً للتأجير او يقدم تجربة او نشاط سياحي و يرغب بالإعلان عنه في منصة الطرف الأول،
    لذا اتفق الطرفان على المواد الآتية:
  </p>
  <p><strong>المادة (1): تمهيد:</strong></p>
  <p>يُعتبر التمهيد أعلاه جزءاً لا يتجزأ من هذه الاتفاقية ومكملاً ومتمماً لها</p>
  <p><strong>المادة (2): التعريفات:</strong></p>
  <p>
    <strong>يقصد بالمصطلحات التالية، حيثما وردت في هذه الاتفاقية، المعاني الموضحة أدناه:</strong>
  </p>
  <p><strong>العميل</strong>: الفرد الذي يقوم بحجز بيت عطلة أو شراء تجربة عبر المنصة.</p>
  <p>
    <strong>المضيف:</strong>
    الشخص او الجهة المالكة أو المسؤولة عن إدارة بيت العطلة أو تقديم التجربة، والذي يتيحها للحجز او
    الشراء عبر المنصة ويلتزم بتوفير الخدمة المتفق عليها للعملاء وفق الشروط المحددة.
  </p>
  <p>
    <strong>الشركة:</strong>
    شركة حياك العربية للسفر والسياحة
  </p>
  <p>
    <strong> المنصة:</strong>

    منصة “حياك”، التي تتيح للعملاء استكشاف وحجز بيوت العطلات وشراء التجارب.
  </p>
  <p>
    <strong> العمولة: </strong>

    النسبة التي تستقطعها الشركة من كل عملية حجز أو شراء ناجحة تتم عبر المنصة.
  </p>
  <p>
    <strong> سياسات الدفع: </strong>
    الإرشادات والقواعد التي تنظم عملية الدفع للمعاملات المنفذة عبر المنصة.
  </p>
  <p>
    <strong>بيوت العطلات:</strong>

    العقارات المخصصة للإيجار المؤقت، والمعدة لاستقبال العملاء الباحثين عن إقامة مميزة خلال عطلاتهم،
    على سبيل المثال لا الحصر: (مزرعة، مخيم، كرفان، شقة، فيلا، استوديو وغيرها)
  </p>
  <p>
    <strong> التجربة:</strong>

    الأنشطة والخدمات التفاعلية المقدمة للعملاء عبر المنصة، التي تهدف إلى تعزيز تواصلهم مع الثقافة
    المحلية والمجتمع على سبيل المثال لا الحصر: (الجولات الثقافية، الأنشطة الفنية مثل الرسم، الحرف
    اليدوية، تجارب الطهي، وغيرها)
  </p>
  <p>
    <strong> الظروف الطارئة: </strong>
    الأحداث أو الحالات غير المتوقعة الخارجة عن السيطرة والتي قد تؤثر على تنفيذ أو إتمام الحجز أو
    التجربة
  </p>
  <p>
    <strong>الشروط والاحكام:</strong>
    الشروط والأحكام هي مجموعة من القواعد والمبادئ التي تُحدد حقوق والتزامات الأطراف المعنية باستخدام
    المنصة أو الاستفادة من خدماتها. تهدف إلى تنظيم العلاقة بين المنصة، العملاء، ومقدمي الخدمات،
    وضمان الامتثال للسياسات والقوانين المعمول بها. تعد الموافقة على هذه الشروط متطلبًا أساسيًا
    للاستفادة من أي خدمات تقدمها المنصة.
  </p>
  <p>
    <strong>المادة (2): الغرض من هذه الاتفاقية:</strong>
  </p>
  <p>
    أبرمت هذه الاتفاقية لغرض قيام الطرف الثاني بالإعلان عن عقاره او خدماته السياحية في منصة الطرف
    الأول أو في منصات أخرى وفقا لما يراه الطرف الأول مناسبا في نطاق هذه الاتفاقية وبعمولة متفق عليها
    من قبل الطرفين    {{ commissionPercentage !== null ? commissionPercentage + '%' : '11%' }} غير شاملة للضريبة.
  </p>
  <p>
    <strong>المادة (3): التزامات وحقوق الطرف الأول:</strong>
  </p>
  <ul>
    <li>
      يلتزم الطرف الأول بتحصيل العربون أو كامل المبلغ من العميل وفقا لسياسات الدفع في المنصة، بينما
      يكون مبلغ التأمين على العقار من التزامات الطرف الثاني.
    </li>
    <li>
       يلتزم الطرف الأول بإشعار الطرف الثاني- من خلال أي وسيلة يراها الطرف الأول مناسبة- عند القيام
      باي تحديثات على سبيل المثال لا الحصر: (المنصة، الشروط ، الاحكام، السياسات).
    </li>
    <li>يحق للطرف الأول عرض العقار بما يتناسب مع معاييره ومتطلباته.</li>
    <li>
      يطبق الطرف الأول سياسة الإلغاء والاسترجاع للحجوزات التي يقوم باختيارها الطرف الثاني في المنصة،
      ولا يحق للطرف الثاني الرجوع عن تلك السياسات بعد إتمام الحجز من قبل العميل.
    </li>
  </ul>
  <p>
    <strong>المادة (4): التزامات الطرف الثاني:</strong>
  </p>
  <ul>
    <li>
      يلتزم الطرف الثاني بأن يبيّن كافة المعلومات الصحيحة والدقيقة للعقار\ التجربة بما في ذلك على
      سبيل المثال لا الحصر (الأسعار والتوافر والصور ووصف المكان و المرافق والخدمات التي يقدمها و
      شروط الحجز و غيرها من المعلومات)، و يلتزم بمتابعة وتجديد بيانات عقاره\ تجربته وفي حال حدث أي
      تغيير من قبله، فهو المسؤول عن صحة هذه المعلومات ويتحمل تبعات ذلك.
    </li>
    <li>
      يلتزم الطرف الثاني بأن تكون الأسعار المعروضة في المنصة تساوي أو أقل من الأسعار خارج المنصة ولا
      يجوز أن تكون الأسعار في المنصة أعلى، ويجوز للطرف الأول الاتفاق مع الطرف الثاني لتحديد تلك
      الأسعار بما يتوافق مع التزامات الطرفين.
    </li>
    <li>
      يلتزم الطرف الثاني بتوفير ما تم حجزه في تاريخ الحجز عن طريق المنصة، وأن يبذل قصارى جهده في
      ذلك، وفي حال تعذّر تسليم العين المحجوزة لظروف قاهرة في ذات اليوم، سيقوم الطرف الأول بعمل حجز
      آخر بقيمة ١50٪ من قيمة الحجز الأصلي، وسيتحمل الطرف الثاني قيمة 50% من الحجز الآخر.
    </li>
    <li>
      لا يحق للطرف الثاني إلغاء أي حجز تم عن طريق الطرف الأول، وإذا ألغى الطرف الثاني الحجز حق للطرف
      الأول إعادة مبلغ العربون كاملاً للعميل، ويحق للطرف الأول في هذه الحالة خصم عمولته من حساب
      الطرف الثاني الموجود لدى الطرف الأول.
    </li>
  </ul>
  <p>
    <strong>المادة (5): العمولة والية سداد المبلغ:</strong>
  </p>
  <ul>
    <li>
      تكون عمولة الطرف الأول مقابل كل حجز للطرف الثاني هي
      {{ commissionPercentage !== null ? commissionPercentage + '%' : '11%' }}من قيمة الإيجار. (غير
      شاملة ضريبة القيمة المضافة)
    </li>
    <li>في حال لم يحضر العميل تحسب عمولة الطرف الأول من العربون وليس من قيمة الإيجار.</li>
    <li>
      تصدر الفاتورة في تاريخ مغادرة العميل. وتحسم العمولة المتفق عليها وتحول المبالغ بعد 48 ساعة من
      تاريخ مغادرة العميل على حساب الطرف الثاني البنكي الذي تم إضافته بالمنصة (تحويل بنكي).
    </li>
  </ul>
  <p>
    <strong>المادة (6): المسؤولية:</strong>
  </p>
  <ul>
    <li>
      لا يتحمل الطرف الأول أي مسؤولية عن إتلاف، أو تخريب، أو سرقة العقار، أو المتبقي من المبلغ وما
      إلى ذلك من ممتلكات الطرف الثاني حيث إن مبلغ التأمين يدفع للطرف الثاني في حال الاستحقاق فهو
      المخول بمطالبة العميل عن أي تعويض.
    </li>
    <li>
      يخلي الطرف الأول مسؤوليته عن أي حوادث تقع داخل العين المحجوزة من موت لا سمح الله، أو غرق أو
      حريق أو جناية أو مداهمة حيث أن ثبوتيات العميل تكون بحوزة الطرف الثاني وهو المتصرف بها.
    </li>
    <li>التعامل مع المعلومات وفقا لنظام حماية المعلومات في المملكة العربية السعودية</li>
    <li>ضوابط وقوانين النظام السعودي</li>
  </ul>
  <p><strong>المادة (7): مدة الاتفاقية:</strong></p>
  <ol>
    <li>
      تسري هذه الاتفاقية خلال سريان عرض عقار\تجربة الطرف الثاني على المنصة وتفسخ بمجرد تغيير حالة
      عرض عقار\تجربة الطرف الثاني إلى غير معروض.
    </li>
    <li>
      في حال رغب أي من الطرفين فسخ وإلغاء الاتفاقية، يتم تسوية كافة الاستحقاقات ثم إلغاء الاتفاقية.
    </li>
  </ol>
  <p>
    <Strong>المادة (٨): الإشعارات:</Strong>
  </p>
  <p>
    تكون المراسلات والاخطارات فيما يتعلق بتنفيذ هذه الاتفاقية بين الطرفين كتابة عبر البريد
    الالكتروني وتعد تلك الاشعارات والمراسلات مستلمه حكما ومنتجة لأثارها القانونية من تاريخ ارسالها.
  </p>
  <p>
    <strong>المادة (٩): النزاعات والخلافات:</strong>
  </p>
  <ul>
    <li>
      في حال نشوء نزاع بين أطراف هذه الاتفاقية أو بينهم وبين ورثة أحدٍ منهم أو خُلفائه من بعده وكان
      النزاع متعلقاً بهذه الاتفاقية أو ما ينشأ عنها أو بسببها من حقوقٍ أو التزامات، يتم حل هذا
      النزاع بالطرق الودِّية.
    </li>
    <li>
      في حال تعذر حل النزاع بين أطراف هذه الاتفاقية أو بينهم وبين ورثة أحدٍ منهم أو خُلفائه من بعده
      بالطرق الودية خلال (15) يوماً تقويمياً من تاريخ نشوء النزاع؛ يكون الاختصاص الولائي بالفصل في
      النزاع للمحكمة المختصة في مدينة الرياض.
    </li>
  </ul>
  <p>
    <strong>المادة (١٠): أحكام عامة:</strong>
  </p>
  <ul>
    <li>تخضع هذه الاتفاقية وتفسر وفقا للأنظمة في المملكة العربية السعودية</li>
    <li>يلتزم الطرف الثاني بشروط واحكام وسياسات منصة حياك</li>
    <li>يتقيد الطرف الثاني بالأنظمة والقوانين داخل المملكة العربية السعودية</li>
  </ul>
  <p>
    <strong>المادة (11): نسخ الاتفاقية:</strong>
  </p>
  <p>
    حُرر ت هذه الاتفاقية من نسختين أصليتين متساويتان في القوة والحجية تتكون كل نسخة من إحدى عشر (11)
    مادة، واستلم كل طرفٍ نسخة إلكترونية منه بعد الموافقة عليها إلكترونياً لتنفيذها والعمل بموجبها،
    ويُعد تاريخ موافقة الطرف الثاني هو تاريخ بدء سريان هذه الاتفاقية. والله الموفق،
  </p>
</div>
