[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
:host ::ng-deep {


    
    .ant-carousel .slick-dots li button {
        background-color: #ffffff;
        width: 12px;
        height: 12px;
        border-radius: 20px;
    }
}