<nz-breadcrumb class="py-3">
  <nz-breadcrumb-item class="cursor-pointer" routerLink="/holiday-homes"
    >الرئيسية</nz-breadcrumb-item
  >
  <nz-breadcrumb-item>سياسة الخصوصية</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="lg:ms-4 w-full mt-6">
  <nz-card [nzTitle]="''" class="block w-full border-0 rounded-2xl">
    <p class="text-base font-extrabold mb-4">سياسة الخصوصية الخاصة بحياك :-</p>
    <p style="text-align: right">
      ليتمكن الضيف من إستخدام خدمات المنصة بشكل كامل يتوجب عليه استكمال المعلومات المطلوبة بشكل صحيح
      حتى يتعرف مزود الخدمة من معرفة ضيوفهم وحتى يتم الحصول على الخدمات بشكل آمن ومضمون للطرفين .
      تتضمن المعلومات الاتي :<br />الاسم صحيح<br />عنوان بريد الكتروني صحيح<br />رقم هاتف مؤكد<br />الموافقة
      على الشروط والأحكام<br />بيانات الدفع<br />لن يتم إظهار المعلومات الحساسة الخاصة بالضيف مزود
      الخدمة إلا بعد تقديم طلب الحجز , ولحماية الضيف من عمليات النصب أو الاحتيال لن يتم تحويل المبلغ
      المالي لحساب مزود الخدمة إلا بعد حصول الضيف على الخدمة كاملة .<br />لـ مزودي الخدمات :<br />ليتمكن
      مزود الخدمة من استخدام خدمات المنصه يتوجب عليه استكمال المعلومات المطلوبه بشكل صحيح حتى يتمكن
      من الحصول على المعلومات بشكل آمن وسليم.<br />تضمن المعلومات الاتي :<br />الاسم بالكامل<br />عنوان
      بريد الكتروني صحيح<br />رقم هاتف مؤكد<br />هوية صحيحة للأفراد \ سجل تجاري ساري المفعول للشركات
      والمؤسسات<br />الموافقة على الشروط والأحكام<br />بيانات الدفع<br />ولضمان تقديم خدمات مميزة
      ومريحة وآمنة للضيوف يتوجب على مزود الخدمة إتمام المتطلبات الأساسية والتي تتضمن الاتي :<br />الأهلية
      : أن يكون مزود الخدمة / مقدم التجربة أكبر من 18 سنة ويملك الحق الشرعي لإنشاء إلتزام قانوني
      ويملك كافة الوثائق الضرورية سارية المفعول .<br />سرعة الاستجابة: الحفاظ على معدل استجابة عالٍ
      بالرد على استفسارات الحجز وطلبات الحجز في غضون 24 ساعة .<br />قبول طلبات الحجز: اجعل الضيوف
      يشعرون بالترحاب بقبول الطلبات كلما كنت متاحًا , وضرورة الاهتمام بالتحديث المستمر بحالة الحجز
      .<br />تجنُب الإلغاءات : نتعامل مع الإلغاءات على محمل الجد ونطلب من جميع المضيفين تجنب إلغاء
      حجوزات الضيوف حيث تعتمد خطط سفرهم عليها, وفي حال حدوث أسباب تستدعي الإلغاء يتوجب إشعار الضيف
      بذلك في مدة لا تقل عن 72 ساعة .<br />الحفاظ على تقييم عام عالٍ: يرغب الضيوف في التأكد من
      حصولهم على مستوى ثابت من الجودة، بغض النظر عن مكان الحجز.<br />سوف تعطى المساكن التي لاتقيم
      بشكل جيد مهله لمعالجة الوضع ، وعند استمرار انخفاض التقييم تلغى من المنصه.<br />توفير الميزات
      الأساسية : نشجع \مزودي الخدمة بشدة على توفير الميّزات الأساسية والإهتمام بالجودة والالتزام
      بالمعايير , لتزيد فرص إقبال الضيوف على حجز خدماتهم .<br />مراعاة شروط الأمن والسلامة : يلتزم
      مزود الخدمة بلوائح الامن والسلامه المعتمده من قبل الجهات المختصه وفحصها والتأكد من جاهزيتها
      بشكل دوري ولايلحق المنصه اي مطالبات نتيجة اهمال هذا الشرط<br />مراعاة الجودة والإحترافية في
      الخدمة المقدمة : يلتزم مزود الخدمة بأن يقدم الخدمة بأفضل الأشكال من خلال الإهتمام بكل تفاصيل
      الخدمة لضمان تحقيق تجربة رائعة ومميزة وفريدة للضيف . ونحن في منصة حياك نساعدك في حال إحتياجك
      للنصائح والإرشاد لتحقيق ذلك مما يسهم في زيادة مبيعاتك وزيادة معدل حجز وشراء خدماتك عبر المنصة
      . فلا تتردد في التواصل مع فريقنا في أي وقت من خلال بيانات التواصل الموجودة على موقعنا
      الالكتروني .<br />الصدق والموثوقية : يلتزم \مقدم الخدمة بتوضيح كافة التفاصيل والمعلومات التي
      لابد للضيف معرفتها قبل وصوله والمرتبطة بالخدمة بصدق بعيداً عن التزييف أو استخدام معلومات غير
      صحيحة أو غير متوفرة . والتعهد بأن جميع المعلومات دقيقة وصحيحة .
    </p>
  </nz-card>
</div>
