::ng-deep {
  .tabs-lending {
    nz-tabset {
      nz-tab-nav-operation {
        display: none !important;
      }
      .ant-tabs-content-holder {
        @apply bg-white  rounded-tl-xl h-40;
      }
      .ant-tabs-nav-list {
        @apply rounded-t-2xl overflow-hidden;
      }
      .ant-tabs-tab-active {
        background-color: #fff !important;

        .ant-tabs-tab-btn {
          @apply text-[#3A3A3A];
        }
      }
      nz-tabs-nav {
        margin-bottom: 0 !important;
      }
      .ant-tabs-tab {
        background-color: rgba(237, 48, 36, 0.26);
      }
      .ant-tabs-tab-btn {
        @apply text-white;
      }
      .ant-tabs-nav::before {
        border: 0 !important;
      }
      .ant-tabs-nav {
        & .ant-tabs-tab {
          margin: 0 !important;
          @apply lg:px-8 md:px-4 px-2 md:w-[183px] w-[157px] flex items-center justify-center;

          &.ant-tabs-tab-active {
            @apply bg-primaryLight h-[50px] md:h-[74px] flex items-center justify-center;
          }
        }
      }
    }
  }
}
.showCalander{
  border-color: rgb(48 63 121 / var(--tw-bg-opacity));
}
