:host ::ng-deep {
    .ant-empty-image img {
        width: 185px;
    }
    .ant-empty-image {
        height: 56px;
    }
    .ant-progress-status-success .ant-progress-text {
        color:black
    }
}