<div id="filter" class="w-full max-w-4xl mx-auto px-4">
  <div
    class="rounded-2xl p-3 bg-white/95 backdrop-blur-xl shadow-[0_20px_60px_-12px_rgba(0,0,0,0.25)]"
  >
    <div class="grid lg:grid-cols-5 xl:grid-cols-5 sm:grid-cols-2 grid-cols-1 gap-3">
      <nz-select
        [(ngModel)]="searchType"
        (ngModelChange)="changeSearchType($event)"
        class="xl-select flex-1"
      >
        <nz-option [nzLabel]="lang === 'ar' ? 'بيت عطلات' : 'Vacation home'" [nzValue]="1"></nz-option>
        <nz-option [nzLabel]="lang === 'ar' ? 'تجربة' : 'Experience'" [nzValue]="2"></nz-option>
      </nz-select>

      <nz-select
        *ngIf="searchType === 1"
        [(ngModel)]="selectedType"
        nzAllowClear
        nzPlaceHolder=" {{ '::guest:landing.vacationHomeType' | abpLocalization }}    "
        class="xl-select flex-1"
      >
        <nz-option
          *ngFor="let vhType of vacationHomeTypes"
          [nzLabel]="vhType.displayName"
          [nzValue]="vhType.id"
        ></nz-option>
      </nz-select>
      <nz-select
        *ngIf="searchType === 2"
        [(ngModel)]="selectedType"
        nzAllowClear
        nzPlaceHolder=" {{ '::guest:landing.experiences' | abpLocalization }}    "
        class="xl-select flex-1"
      >
        <nz-option
          *ngFor="let expType of experienceTypes"
          [nzLabel]="expType.name"
          [nzValue]="expType.id"
        ></nz-option>
      </nz-select>

      <nz-select
        [(ngModel)]="selectedCity"
        nzAllowClear
        [nzShowSearch]="true"
        nzPlaceHolder="{{ '::guest:landing.city' | abpLocalization }}"
        class="xl-select flex-1"
      >
        <nz-option *ngFor="let city of cities" [nzLabel]="city.name" [nzValue]="city.id"></nz-option>
      </nz-select>

      <button
        *ngIf="!showCalendar"
        type="button"
        (click)="showCalendar = true"
        nz-button
        class="bg-white border-gray-200 text-[#0f172a] h-14 rounded-lg flex items-center justify-center gap-2"
      >
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span class="lg:text-sm font-bold text-sm">{{ '::guest:landing:section2:date' | abpLocalization }}</span>
      </button>
      <nz-range-picker
        *ngIf="showCalendar"
        [nzPlaceHolder]="[
          '::guest:landing.start' | abpLocalization,
          '::guest:landing.end' | abpLocalization
        ]"
        class="xl-select flex-1 text-black h-14"
        ngModel
        (ngModelChange)="changeDate($event)"
        [nzDisabledDate]="disabledDate"
      ></nz-range-picker>

      <app-button class="block" (click)="search()">
        <span class="flex items-center justify-center gap-2">
          <span nz-icon nzType="search" nzTheme="outline"></span>
          {{ '::guest:landing.search' | abpLocalization }}
        </span>
      </app-button>
    </div>
  </div>
</div>
