.info-label {
  color: #1c1c1c;
  font:
    700 16px Almarai,
    sans-serif;
}

.info-value {
  color: #666;
  font:
    400 16px Almarai,
    sans-serif;
  // margin-top: 24px;
  line-height: 25px;
}
